In [1]:
#PANDAS


#Create a simple Pandas Series from a list:

import pandas as pd

a = [1, 7, 2]

myvar = pd.Series(a)

print(myvar)

0    1
1    7
2    2
dtype: int64

In [2]:
#Return the first value of the Series
print(myvar[0])

1

In [3]:
#Create your own labels:

import pandas as pd

a = [1, 7, 2]

myvar = pd.Series(a, index = ["x", "y", "z"])

print(myvar)

x    1
y    7
z    2
dtype: int64

In [4]:
#Return the value of "y":

print(myvar["y"])

7

In [5]:
#Create a simple Pandas Series from a dictionary:

import pandas as pd

calories = {"day1": 420, "day2": 380, "day3": 390}

myvar = pd.Series(calories)

print(myvar)

day1    420
day2    380
day3    390
dtype: int64

In [6]:
#Create a Series using only data from "day1" and "day2":

import pandas as pd

calories = {"day1": 420, "day2": 380, "day3": 390}

myvar = pd.Series(calories, index = ["day1", "day2"])

print(myvar)

day1    420
day2    380
dtype: int64

In [7]:
#Create a DataFrame from two Series:

import pandas as pd

data = {
  "calories": [420, 380, 390],
  "duration": [50, 40, 45]
}

myvar = pd.DataFrame(data)

print(myvar)

   calories  duration
0       420        50
1       380        40
2       390        45

In [8]:
#Create a simple Pandas DataFrame:

import pandas as pd

data = {
  "calories": [420, 380, 390],
  "duration": [50, 40, 45]
}

#load data into a DataFrame object:
df = pd.DataFrame(data)

print(df)

   calories  duration
0       420        50
1       380        40
2       390        45

In [9]:
#Return row 0:
#refer to the row index:

print(df.loc[0])

calories    420
duration     50
Name: 0, dtype: int64

In [10]:
#Return row 0 and 1:
#use a list of indexes:

print(df.loc[[0, 1]])

   calories  duration
0       420        50
1       380        40

In [2]:
#Load a comma separated file (CSV file) into a DataFrame:
import pandas as pd

df = pd.read_csv('color.csv')

print(df)

       Name      HEX               RGB
0     White  #FFFFFF  rgb(100,100,100)
1    Silver  #C0C0C0     rgb(75,75,75)
2      Gray  #808080     rgb(50,50,50)
3     Black  #000000        rgb(0,0,0)
4       Red  #FF0000      rgb(100,0,0)
5    Maroon  #800000       rgb(50,0,0)
6    Yellow  #FFFF00    rgb(100,100,0)
7     Olive  #808000      rgb(50,50,0)
8      Lime  #00FF00      rgb(0,100,0)
9     Green  #008000       rgb(0,50,0)
10     Aqua  #00FFFF    rgb(0,100,100)
11     Teal  #008080      rgb(0,50,50)
12     Blue  #0000FF      rgb(0,0,100)
13     Navy  #000080       rgb(0,0,50)
14  Fuchsia  #FF00FF    rgb(100,0,100)
15   Purple  #800080      rgb(50,0,50)

In [4]:
#Load the CSV into a DataFrame:

import pandas as pd

df = pd.read_csv('color.csv')

print(df.to_string())

       Name      HEX               RGB
0     White  #FFFFFF  rgb(100,100,100)
1    Silver  #C0C0C0     rgb(75,75,75)
2      Gray  #808080     rgb(50,50,50)
3     Black  #000000        rgb(0,0,0)
4       Red  #FF0000      rgb(100,0,0)
5    Maroon  #800000       rgb(50,0,0)
6    Yellow  #FFFF00    rgb(100,100,0)
7     Olive  #808000      rgb(50,50,0)
8      Lime  #00FF00      rgb(0,100,0)
9     Green  #008000       rgb(0,50,0)
10     Aqua  #00FFFF    rgb(0,100,100)
11     Teal  #008080      rgb(0,50,50)
12     Blue  #0000FF      rgb(0,0,100)
13     Navy  #000080       rgb(0,0,50)
14  Fuchsia  #FF00FF    rgb(100,0,100)
15   Purple  #800080      rgb(50,0,50)

In [9]:
#Increase the maximum number of rows to display the entire DataFrame:

import pandas as pd

pd.options.display.max_rows = 10

df = pd.read_csv('color.csv')

print(df)

       Name      HEX               RGB
0     White  #FFFFFF  rgb(100,100,100)
1    Silver  #C0C0C0     rgb(75,75,75)
2      Gray  #808080     rgb(50,50,50)
3     Black  #000000        rgb(0,0,0)
4       Red  #FF0000      rgb(100,0,0)
..      ...      ...               ...
11     Teal  #008080      rgb(0,50,50)
12     Blue  #0000FF      rgb(0,0,100)
13     Navy  #000080       rgb(0,0,50)
14  Fuchsia  #FF00FF    rgb(100,0,100)
15   Purple  #800080      rgb(50,0,50)

[16 rows x 3 columns]

In [10]:
#Get a quick overview by printing the first 10 rows of the DataFrame:
import pandas as pd

df = pd.read_csv('color.csv')

print(df.head(8))

     Name      HEX               RGB
0   White  #FFFFFF  rgb(100,100,100)
1  Silver  #C0C0C0     rgb(75,75,75)
2    Gray  #808080     rgb(50,50,50)
3   Black  #000000        rgb(0,0,0)
4     Red  #FF0000      rgb(100,0,0)
5  Maroon  #800000       rgb(50,0,0)
6  Yellow  #FFFF00    rgb(100,100,0)
7   Olive  #808000      rgb(50,50,0)

In [11]:
#Print the first 5 rows of the DataFrame:
import pandas as pd

df = pd.read_csv('color.csv')

print(df.head())

     Name      HEX               RGB
0   White  #FFFFFF  rgb(100,100,100)
1  Silver  #C0C0C0     rgb(75,75,75)
2    Gray  #808080     rgb(50,50,50)
3   Black  #000000        rgb(0,0,0)
4     Red  #FF0000      rgb(100,0,0)

In [12]:
#Print the last 5 rows of the DataFrame:
print(df.tail())

       Name      HEX             RGB
11     Teal  #008080    rgb(0,50,50)
12     Blue  #0000FF    rgb(0,0,100)
13     Navy  #000080     rgb(0,0,50)
14  Fuchsia  #FF00FF  rgb(100,0,100)
15   Purple  #800080    rgb(50,0,50)

In [13]:
#Print information about the data:

print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16 entries, 0 to 15
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Name    16 non-null     object
 1   HEX     16 non-null     object
 2   RGB     16 non-null     object
dtypes: object(3)
memory usage: 516.0+ bytes
None

In [14]:
import pandas as pd

df = pd.read_csv('username.csv')

print(df)

    Username   Identifier First name Last name
0   booker12       9012.0     Rachel    Booker
1     grey07       2070.0      Laura      Grey
2  johnson81       4081.0      Craig   Johnson
3  jenkins46       9346.0       Mary   Jenkins
4    smith79       5079.0      Jamie     Smith
5  johnson81       4081.0      Craig   Johnson
6    charlie       1232.0        NaN      putt
7   jennifer          NaN      jenni        13

In [15]:
#Return a new Data Frame with no empty cells:
import pandas as pd

df = pd.read_csv('username.csv')

new_df = df.dropna()

print(new_df.to_string())

    Username   Identifier First name Last name
0   booker12       9012.0     Rachel    Booker
1     grey07       2070.0      Laura      Grey
2  johnson81       4081.0      Craig   Johnson
3  jenkins46       9346.0       Mary   Jenkins
4    smith79       5079.0      Jamie     Smith
5  johnson81       4081.0      Craig   Johnson

In [16]:
#Remove all rows with NULL values:
import pandas as pd

df = pd.read_csv('username.csv')

df.dropna(inplace = True)

print(df.to_string())

    Username   Identifier First name Last name
0   booker12       9012.0     Rachel    Booker
1     grey07       2070.0      Laura      Grey
2  johnson81       4081.0      Craig   Johnson
3  jenkins46       9346.0       Mary   Jenkins
4    smith79       5079.0      Jamie     Smith
5  johnson81       4081.0      Craig   Johnson

In [20]:
#Replace NULL values with the number 130:
import pandas as pd

df = pd.read_csv('username.csv')

df.fillna(130, inplace = True) 
print(df)

    Username   Identifier First name Last name
0   booker12       9012.0     Rachel    Booker
1     grey07       2070.0      Laura      Grey
2  johnson81       4081.0      Craig   Johnson
3  jenkins46       9346.0       Mary   Jenkins
4    smith79       5079.0      Jamie     Smith
5  johnson81       4081.0      Craig   Johnson
6    charlie       1232.0        130      putt
7   jennifer        130.0      jenni        13

In [25]:
#Returns True for every row that is a duplicate, otherwise False:
print(df.duplicated())

0    False
1    False
2    False
3    False
4    False
5     True
6    False
7    False
dtype: bool

In [27]:
#Remove all duplicates:
df.drop_duplicates(inplace = True) 
print(df)

    Username   Identifier First name Last name
0   booker12       9012.0     Rachel    Booker
1     grey07       2070.0      Laura      Grey
2  johnson81       4081.0      Craig   Johnson
3  jenkins46       9346.0       Mary   Jenkins
4    smith79       5079.0      Jamie     Smith
6    charlie       1232.0        NaN      putt
7   jennifer          NaN      jenni        13